/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    min-width: 500px;
}

.container, .intro {
    display: flex;
    min-width: 400px;
}

.container{
    margin: auto 10%;
    width: 80%;
}
/* #endregion common*/


/* #region debug*/

.debug #menu_header {
    background-color: rgb(245, 206, 212);
}

.debug #menu_header>.container {
    height: 40px;
    background-color: rgb(251, 139, 157);
}

.debug .logo, .debug .button_h {
    width: 40%;
}

.debug .row{
    background-color: rgb(215, 85, 107);
}

.debug #main_header{
    height: 400px;
    background-color: rgb(227, 139, 153);
}

.debug .intro{
    background-color: rgb(182, 57, 90);
    height: 95%;
}

.debug main>.container{
    height: 400px;
}

.debug .voice, .debug .tecnologia{
    background-color: rgb(209, 171, 245);
}

.debug .can1{
    width: 60%;
    height: 350px;
    background-color: aquamarine;
}

.debug .can2{
    width: 40%;
    height: 350px;
    background-color: rgb(250, 137, 233);
}

/* #endregion debug*/


/* #region body*/
body{
    min-width: 500px;
}
/* #endregion body*/


/* #region header*/

#menu_header{
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row {
    width: 70%;
    justify-content: center;
}
/* #endregion header*/


/* #region Main*/

#main_header{
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro{
    width: 55%;
    margin: auto;
}

main>section{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* #endregion Main*/

