/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    min-width: 500px;
}

.container, .intro {
    display: flex;
    min-width: 400px;
}

[class^="container"]{
    margin: auto 15%;
    width: 70%;
}
/* #endregion common*/


/* #region debug*/

/*header debug*/
.debug #menu_header {
    background-color: rgb(162, 254, 129);
}

.debug #menu_header>.container {
    height: 40px;
    background-color: rgb(251, 139, 157);
}

/*header main debug*/
.debug .logo, .debug .button_h {
    width: 40%;
}

.debug .row{
    background-color: rgb(99, 105, 230);
}

.debug #main_header{
    height: 400px;
    background-color: rgb(161, 140, 236);
}

.debug .intro{
    background-color: rgb(249, 178, 206);
    height: 95%;
}

/*main debug*/
.debug main>section {
    height: 400px;
}

.debug .voice, .debug .tecnologia{
    background-color: rgb(235, 250, 160);
}

.debug .can1{
    width: 60%;
    height: 350px;
    background-color: aquamarine;
}

.debug .can2{
    width: 40%;
    height: 350px;
    background-color: rgb(250, 137, 233);
}

.debug .cont_tec{
    width: 100%;
    height: 350px;
    background-color: aquamarine;
}

/*footer debug*/

.debug .sec_footer, .debug .sec_footer2{
    background-color: rgb(210, 186, 249);
}

.debug .sec_footer{
    height: 400px;
}

.debug .sec_footer2{
    height: 100px;
}

.debug .container.footer{
    height: 350px;
    width: 70%;
}

.debug .social{
   background-color: rgb(250, 137, 233);
   height: 70%;
   width: 40%;
}

.debug .row.f{
    background-color: rgb(176, 251, 226);
    height: 70%;
    width: 60%;
}

/*
.debug .color{
    width: 15%;
    background-color: blueviolet;
} */

/* #endregion debug*/


/* #region body*/
body{
    min-width: 500px;
}
/* #endregion body*/


/* #region header*/

#menu_header{
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row.h {
    width: 70%;
    justify-content: center;
}
/* #endregion header*/


/* #region Main*/

#main_header{
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro{
    width: 55%;
    margin: auto;
}

main>section{
    padding-top: 25px;
    padding-bottom: 25px;
}

.cont1{
    flex-direction: row-reverse;
}

/* #endregion Main*/

footer>section{
    padding-top: 25px;
    padding-bottom: 25px;
}